.button {
  font-weight: bolder;
  font-size: 15px;
  height: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primariy {
  background-color: black;
  color: white;
}
