.button {
  padding: 10px 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.primary {
  background-color: black;
  color: white;
}

.secondary {
  background-color: white;
  color: black;
}
