.toaster {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 35px 10px 25px;
  border-radius: 10px;
  overflow: hidden;

  &--success {
    box-shadow: 0 4px 12px rgba(76, 175, 80, 1);
  }

  &--error {
    box-shadow: 0 4px 12px rgba(244, 67, 54, 1);
  }

  &--info {
    box-shadow: 0 4px 12px rgba(33, 150, 243, 1);
  }

  &__main {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;

    &__icon {
      i {
        font-size: 35px;
      }
    }
    &__text {
      &__title {
        font-weight: 600;
        margin-bottom: 2px;
      }
      &__description {
        font-size: 14px;
        color: #666;
      }
    }
    &__close {
      position: absolute;
      right: 5px;
      top: 10px;
      cursor: pointer;
      font-size: 20px;
      color: #999;
      padding: 0 10px;
    }
    &__action {
      width: 100%;
      height: 6px;
      width: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }
}
