.Users {
  &__table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #ccc;
    margin-top: 40px;
    th,
    td {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
    thead {
      tr {
        background-color: #b9b9b9;
      }
    }
    tr:nth-child(even) {
      background-color: #ffffff;
    }

    &__action {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      &__button {
        border: none;
        border: 1px solid #000000;
      }
      Button:hover {
        background-color: #ffffff;
        color: black;
        border: 1px solid black;
        transform: 0.3s;
      }
    }
  }
}
