.header {
  margin-top: 10px;
  max-height: 70vh;
  overflow-y: auto;
}
.form {
  &__stockContainer {
  }
  &__stock {
    display: flex;
    width: 100%;
    gap: 10px;
    &__item {
      width: 100%;
      margin-bottom: -10px;
      margin-top: 5px;
      :nth-child(1) {
        margin-top: 0px;
      }
    }
  }
  &__button {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    &__add {
      display: flex;
      justify-content: center;
    }
    &__remove {
    }
    &__submit {
      margin-top: 10px;
    }
  }
}
