.form {
  &__stock {
    display: flex;
    width: 100%;
    gap: 10px;
    &__item {
      width: 100%;
      gap: 30px;
    }
  }
  &__button {
    &__add {
      display: flex;
      justify-content: center;
    }
    &__remove {
    }
    &__submit {
      margin-top: 10px;
    }
  }
}
