.profile {
  &__title {
  }
  &__main {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    &__avatar {
      width: 20%;
      height: 200px;
      &__image {
        border: 1px solid #000000;
        width: 100%;
        height: 100%;
      }
    }
    &__details {
      width: 80%;
      &__title {
        font-size: large;
        font-weight: bold;
      }
      &__data {
        border: 1px solid #000000;
        margin-top: 10px;
        padding: 10px 15px;

        Input {
          border-radius: 5px;
        }
        Button {
          border-radius: 5px;
        }
      }
    }
  }
}
