.profile {
  &__title {
  }
  &__main {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    &__avatar {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__title {
        font-size: large;
        font-weight: bold;
      }
      &__image {
        //border: 1px solid #000000;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        background: #ddd;
        font-weight: bold;
      }
      &__label {
        border: 1px solid #c2c2c2;
        background-color: #c2c2c2;
        color: #3a3a3a;
        border-radius: 3px;
        padding: 5px 10px;
        margin: 10px 0;
        cursor: pointer;
      }
      &__button {
        margin-top: -10px;
        width: 100%;
      }
      label {
        margin-top: 10px;
        cursor: pointer;
      }
      p {
        color: #3a3a3a;
        font-size: 16px;
      }
      Input {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    }
    &__details {
      width: 80%;
      &__title {
        font-size: large;
        font-weight: bold;
      }
      &__data {
        border: 1px solid #000000;
        margin-top: 10px;
        padding: 10px 15px;
      }
    }
  }
}
