.profile {
  &__title {
  }
  &__main {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    &__avatar {
      width: 20%;
      height: 200px;
      &__image {
        border: 1px solid #000000;
        width: 100%;
        height: 100%;
      }
    }
    &__details {
      width: 80%;
      height: 200px;
      &__data {
        border: 1px solid #000000;
        width: 100%;
        height: 100%;
      }
    }
  }
}
