.form {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 20px;
  box-shadow: 5px 10px;
  margin-bottom: 20px;
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 5px;
  }

  &__input {
    border: none;
    background-color: #cfcfcf;
    height: 30px;
    padding: 10px;
    outline: none;
    border-radius: 3px;

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}
